POSTGRES_USER=netqos
POSTGRES_PASSWORD=changeme
POSTGRES_DB=netqos_db
POSTGRES_HOST=timescaledb
POSTGRES_PORT=5432
API_HOST=localhost
API_PORT=8000
API_BASE_URL=http://localhost:8000/api/v1
DASHBOARD_PORT=8501
GENERATOR_CELLS=5
GENERATOR_INTERVAL_SECONDS=5
